Repository hosppy/hosppy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_gradle_build, backend_docker_build, frontend_build

backend_gradle_build:
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  stage: build
  image: gradle:7.5.1-jdk11-alpine
  script:
  - export GRADLE_USER_HOME="$(pwd)/.gradle"
  - gradle clean bootJar --build-cache

backend_docker_build:
  stage: build
  dependencies:
  - backend_gradle_build
  image: hosppy/docker:alpine
  script:
  - docker build -t hosppy/svc .

frontend_build:
  stage: build
  image: hosppy/docker:alpine
  script:
  - cd app
  - docker build -t hosppy/app .

refactor: AccountService split into application service and domain service
  app/src/routes/login/+page.svelte
  build.gradle.kts
  src/main/kotlin/club/hosppy/account/controller/AccountController.kt
  src/main/kotlin/club/hosppy/account/dto/ActivateAccountRequest.kt
  src/main/kotlin/club/hosppy/account/dto/AuthenticationRequest.kt
  src/main/kotlin/club/hosppy/account/dto/CreateAccountRequest.kt
  src/main/kotlin/club/hosppy/account/dto/UpdatePasswordRequest.kt
  src/main/kotlin/club/hosppy/account/model/AccountSecret.kt
  src/main/kotlin/club/hosppy/account/repo/AccountSecretRepository.kt
  src/main/kotlin/club/hosppy/account/service/AccountApplicationService.kt
  src/main/kotlin/club/hosppy/account/service/domain/AccountService.kt
  src/main/kotlin/club/hosppy/common/api/ResultCode.kt
  src/main/kotlin/club/hosppy/common/config/WebSecurityConfig.kt
Due: backend_gradle_build, backend_docker_build, frontend_build

implements UserDetailsService
  src/main/kotlin/club/hosppy/account/controller/AccountController.kt
  src/main/kotlin/club/hosppy/account/repo/AccountRepository.kt
  src/main/kotlin/club/hosppy/account/repo/AccountSecretRepository.kt
  src/main/kotlin/club/hosppy/account/service/AccountApplicationService.kt
  src/main/kotlin/club/hosppy/account/service/UserDetailsServiceImpl.kt
  src/main/kotlin/club/hosppy/common/config/WebSecurityConfig.kt
Due: backend_gradle_build, backend_docker_build

chore: add unocss support
  app/package-lock.json
  app/package.json
  app/src/routes/+layout.svelte
  app/svelte.config.js
  app/vite.config.js
Due: frontend_build

add home page
  app/.env.development
  app/.prettierrc
  app/my-preset.js
  app/package-lock.json
  app/package.json
  app/src/lib/components/Navbar.svelte
  app/src/lib/utils/request.js
  app/src/routes/+layout.svelte
  app/src/routes/+page.svelte
  app/src/routes/activate/[slug]/+page.js
  app/src/routes/activate/[slug]/+page.server.js
  app/src/routes/activate/[slug]/+page.svelte
  app/src/routes/login/+page.svelte
  app/src/routes/register/+page.svelte
  app/vite.config.js
  src/main/kotlin/club/hosppy/common/config/WebSecurityConfig.kt
Due: backend_gradle_build, backend_docker_build, frontend_build

create dropdown menu component
  app/my-preset.js
  app/package-lock.json
  app/package.json
  app/src/lib/components/Dropdown.svelte
  app/src/lib/components/Navbar.svelte
  app/src/lib/utils/request.js
Due: frontend_build

fix startup failed
  app/my-preset.js
  app/src/hooks.server.js
  app/src/lib/components/Dropdown.svelte
  app/src/lib/components/Login.svelte
  app/src/lib/components/Navbar.svelte
  app/src/lib/utils/request.js
  app/src/routes/login/+page.svelte
  app/src/routes/register/+page.svelte
Due: frontend_build

chore: add json authentication for login
  app/src/hooks.server.js
  app/src/routes/login/+page.svelte
  src/main/kotlin/club/hosppy/common/api/BaseResponse.kt
  src/main/kotlin/club/hosppy/common/api/ResultCode.kt
  src/main/kotlin/club/hosppy/common/config/CustomAuthenticationEntryPoint.kt
  src/main/kotlin/club/hosppy/common/config/CustomAuthenticationFailureHandler.kt
  src/main/kotlin/club/hosppy/common/config/JSONAuthenticationFilter.kt
  src/main/kotlin/club/hosppy/common/config/WebSecurityConfig.kt
Due: backend_gradle_build, backend_docker_build, frontend_build

chore: custom json authenticate filter
  src/main/kotlin/club/hosppy/common/api/ResultCode.kt
  src/main/kotlin/club/hosppy/common/config/Config.kt
  src/main/kotlin/club/hosppy/common/config/CustomAuthenticationFailureHandler.kt
  src/main/kotlin/club/hosppy/common/config/JSONAuthenticationFilter.kt
  src/main/kotlin/club/hosppy/common/config/WebSecurityConfig.kt
Due: backend_gradle_build, backend_docker_build

feat: add account login authentication
  app/src/lib/components/Login.svelte
  app/src/routes/login/+page.svelte
  src/main/kotlin/club/hosppy/account/annotation/CurrentUser.kt
  src/main/kotlin/club/hosppy/account/config/CurrentUserMethodArgumentResolver.kt
  src/main/kotlin/club/hosppy/account/controller/AuthController.kt
  src/main/kotlin/club/hosppy/account/dto/LoggedUser.kt
  src/main/kotlin/club/hosppy/account/model/User.kt
  src/main/kotlin/club/hosppy/account/service/UserDetailsServiceImpl.kt
  src/main/kotlin/club/hosppy/common/config/CustomAuthenticationFailureHandler.kt
  src/main/kotlin/club/hosppy/common/config/CustomAuthenticationSuccessHandler.kt
  src/main/kotlin/club/hosppy/common/config/JSONAuthenticationFilter.kt
  src/main/kotlin/club/hosppy/common/config/WebMvcConfig.kt
  src/main/kotlin/club/hosppy/common/config/WebSecurityConfig.kt
Due: backend_gradle_build, backend_docker_build, frontend_build

feat: add logout handler
  app/package-lock.json
  app/package.json
  app/src/lib/components/Login.svelte
  app/src/lib/utils/store.js
  src/main/kotlin/club/hosppy/account/config/CustomAuthenticationFailureHandler.kt
  src/main/kotlin/club/hosppy/account/config/CustomAuthenticationSuccessHandler.kt
  src/main/kotlin/club/hosppy/account/config/CustomLogoutSuccessHandler.kt
  src/main/kotlin/club/hosppy/account/config/JSONAuthenticationFilter.kt
  src/main/kotlin/club/hosppy/account/config/WebMvcConfig.kt
  src/main/kotlin/club/hosppy/account/config/WebSecurityConfig.kt
  src/main/kotlin/club/hosppy/common/config/CustomAuthenticationEntryPoint.kt
Due: backend_gradle_build, backend_docker_build, frontend_build

arch: init ktor web project
  web/.env.example
  web/.gitignore
  web/build.gradle.kts
  web/gradle.properties
  web/gradle/wrapper/gradle-wrapper.jar
  web/gradle/wrapper/gradle-wrapper.properties
  web/gradlew
  web/gradlew.bat
  web/settings.gradle.kts
  web/src/main/kotlin/com/hosppy/Application.kt
  web/src/main/kotlin/com/hosppy/common/api/ResultCode.kt
  web/src/main/kotlin/com/hosppy/common/error/ServiceException.kt
  web/src/main/kotlin/com/hosppy/config/AppConfig.kt
  web/src/main/kotlin/com/hosppy/models/Account.kt
  web/src/main/kotlin/com/hosppy/plugins/Databases.kt
  web/src/main/kotlin/com/hosppy/plugins/ExceptionHandler.kt
  web/src/main/kotlin/com/hosppy/plugins/Koin.kt
  web/src/main/kotlin/com/hosppy/plugins/Routing.kt
  web/src/main/kotlin/com/hosppy/plugins/Security.kt
  web/src/main/kotlin/com/hosppy/plugins/Serialization.kt
  web/src/main/kotlin/com/hosppy/plugins/Templating.kt
  web/src/main/kotlin/com/hosppy/routes/AccountRoute.kt
  web/src/main/kotlin/com/hosppy/service/AccountService.kt
  web/src/main/resources/application.conf
  web/src/main/resources/logback.xml
Due: none

chore: change ResultCode class type
  web/src/main/kotlin/com/hosppy/common/api/ResultCode.kt
  web/src/main/kotlin/com/hosppy/service/AccountService.kt
Due: none

rename exceptionHandler to Interceptor
  .run/web.run.xml
  web/src/main/kotlin/com/hosppy/Application.kt
  web/src/main/kotlin/com/hosppy/plugins/Databases.kt
  web/src/main/kotlin/com/hosppy/plugins/Interceptor.kt
Due: none

chore: add mail support
  web/build.gradle.kts
  web/src/main/kotlin/com/hosppy/common/constant/Aliyun.kt
  web/src/main/kotlin/com/hosppy/models/Mail.kt
  web/src/main/kotlin/com/hosppy/plugins/Interceptor.kt
  web/src/main/kotlin/com/hosppy/plugins/Koin.kt
  web/src/main/kotlin/com/hosppy/plugins/Routing.kt
  web/src/main/kotlin/com/hosppy/plugins/Templating.kt
  web/src/main/kotlin/com/hosppy/routes/MailRoute.kt
  web/src/main/kotlin/com/hosppy/service/MailService.kt
  web/src/main/resources/application.conf
  web/src/main/resources/templates/activate_account.ftl
Due: none

chore: add flyway support to migrate database
  web/build.gradle.kts
  web/src/main/kotlin/com/hosppy/plugins/Databases.kt
  web/src/main/resources/db/migration/V20221129093750__create_account.sql
Due: none

fix send mail failed
  web/src/main/kotlin/com/hosppy/models/Mail.kt
  web/src/main/kotlin/com/hosppy/plugins/Koin.kt
  web/src/main/kotlin/com/hosppy/routes/MailRoute.kt
  web/src/main/kotlin/com/hosppy/service/MailService.kt
  web/src/main/resources/templates/activate_account
Due: none

chore: create account and send mail
  web/build.gradle.kts
  web/gradle.properties
  web/src/main/kotlin/com/hosppy/common/api/ResultCode.kt
  web/src/main/kotlin/com/hosppy/common/error/ServiceException.kt
  web/src/main/kotlin/com/hosppy/common/utils/PasswordEncode.kt
  web/src/main/kotlin/com/hosppy/models/Account.kt
  web/src/main/kotlin/com/hosppy/models/Mail.kt
  web/src/main/kotlin/com/hosppy/plugins/Interceptor.kt
  web/src/main/kotlin/com/hosppy/plugins/Koin.kt
  web/src/main/kotlin/com/hosppy/routes/AccountRoute.kt
  web/src/main/kotlin/com/hosppy/service/AccountService.kt
Due: none

chore: add Sign utils to generate email confirmation token
  web/build.gradle.kts
  web/src/main/kotlin/com/hosppy/common/crypto/Sign.kt
  web/src/main/kotlin/com/hosppy/plugins/Koin.kt
  web/src/main/kotlin/com/hosppy/routes/AccountRoute.kt
  web/src/main/kotlin/com/hosppy/service/AccountService.kt
  web/src/main/kotlin/com/hosppy/service/MailService.kt
  web/src/main/resources/application.conf
Due: none

chore: add modelmapper library support
  .run/ApplicationKt.run.xml
  web/build.gradle.kts
  web/gradle.properties
  web/src/main/kotlin/com/hosppy/common/annotations/KotlinPlugin.kt
  web/src/main/kotlin/com/hosppy/common/utils/Mapper.kt
  web/src/main/kotlin/com/hosppy/config/AppConfig.kt
  web/src/main/kotlin/com/hosppy/models/Account.kt
  web/src/main/kotlin/com/hosppy/service/AccountService.kt
Due: none

chore(ci): add github action for web module
  .github/workflows/publish.yml
  web/Dockerfile
  web/build.gradle.kts
Due: none

rename InitConnection to InitDatabase
  cmd/main.go
  internal/models/db.go
Due: none

chore(gitignore): clean unnecessary ignore files
  .gitignore
Due: none

chore(golang): add Dockerfile
  .dockerignore
  Dockerfile
Due: none

chore(ci): update github action
  .github/workflows/publish.yml
  Dockerfile
  cmd/main.go
Due: none

chore(schema): update schema file [skip ci]
  ent/account.go
  ent/account/where.go
  ent/account_create.go
  ent/account_update.go
  ent/migrate/migrations/20230820145054_create_account.sql
  ent/migrate/migrations/atlas.sum
  ent/migrate/schema.go
  ent/mutation.go
  ent/schema/account.go
Due: none

chore: add middleware logger
  cmd/main.go
  go.mod
  go.sum
Due: none

chore(go): upgrade go from 1.20 to 1.21 and use slog package
  Dockerfile
  cmd/main.go
  go.mod
  go.sum
  internal/models/db.go
Due: none

feat: support account authentication with session
  app/src/lib/components/Login.svelte
  app/src/routes/login/+page.svelte
  cmd/main.go
  go.mod
  go.sum
  internal/models/api/auth.go
  internal/models/api/status.go
  internal/models/db.go
  internal/routes/account.go
  internal/routes/auth.go
  internal/routes/route.go
  internal/service/auth/auth.go
Due: frontend_build

refactor: use ddd project structure
  .env.example
  cmd/main.go
  internal/app/app.go
  internal/domain/entity/account.go
  internal/domain/repository/account.go
  internal/domain/service/account.go
  internal/infra/repository/postgres/account.go
  internal/infra/repository/postgres/db.go
  internal/infra/router/account.go
  internal/infra/router/auth.go
  internal/infra/router/router.go
  internal/models/account.go
  internal/routes/account.go
  internal/service/auth/auth.go
  internal/service/passwordhash/password.go
Due: none

fix account model convert
  internal/infra/repository/postgres/account.go
Due: none

chore: move app to infra package
  .vscode/launch.json
  cmd/main.go
  internal/infra/app/app.go
Due: none

chore: add ADDRESS environment variable to start server
  .env.example
  cmd/main.go
  internal/infra/app/app.go
Due: none

chore: move api to infra
  internal/infra/api/auth.go
  internal/infra/api/status.go
  internal/infra/router/auth.go
Due: none

feat: add aliyun mail client
  go.mod
  go.sum
  internal/domain/entity/account.go
  internal/domain/repository/account.go
  internal/domain/service/account.go
  internal/env/env.go
  internal/infra/api/auth.go
  internal/infra/app/app.go
  internal/infra/mail/client.go
  internal/infra/mail/message.go
  internal/infra/repository/postgres/account.go
  internal/infra/router/account.go
  internal/infra/router/auth.go
Due: none

ci: use upx for compression
  Dockerfile
Due: none

refactor: use uber/fx resolve dependencies injection
  cmd/main.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/env.go
  internal/infra/app/app.go
  internal/infra/mail/client.go
  internal/infra/repository/postgres/account.go
  internal/infra/repository/postgres/db.go
  internal/infra/router/auth.go
  internal/infra/router/router.go
  internal/logger/logger.go
Due: none

refactor: move passwordhash package outside
  internal/domain/service/account.go
  internal/infra/router/router.go
  internal/passwordhash/password.go
Due: none

Path conditions:
  backend_gradle_build: any of: src/**/*
  backend_docker_build: any of: src/**/*
  frontend_build: (any of: app/**/*) and (not (any of: *.md, .editorconfig, .npmrc, .prettierignore, .prettierrc))
