Repository hosppy/hosppy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_gradle_build, backend_docker_build, frontend_build

.gitlab-ci.yml:

cache:
  paths:
    - .gradle
    - build

stages:
  - build

backend_gradle_build:
  variables:
    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  stage: build
  only:
    changes:
      - "src/**/*"
  image: gradle:7.5.1-jdk11-alpine
  script:
    - export GRADLE_USER_HOME="$(pwd)/.gradle"
    - gradle clean bootJar --build-cache

backend_docker_build:
  stage: build
  only:
    changes:
      - "src/**/*"
  dependencies:
    - backend_gradle_build
  image: hosppy/docker:alpine
  script:
    - docker build -t hosppy/svc .

frontend_build:
  stage: build
  only:
    changes:
      - "app/**/*"
  except:
    changes:
      - "*.md"
      - ".editorconfig"
      - ".npmrc"
      - ".prettierignore"
      - ".prettierrc"
  image: hosppy/docker:alpine
  script:
    - cd app
    - docker build -t hosppy/app .

fix dockerfile no package.json
  app/Dockerfile
Due: frontend_build

remove lombok dependency [ci skip]
  build.gradle
  src/main/kotlin/club/hosppy/account/controller/AccountController.kt
  src/main/kotlin/club/hosppy/account/dto/AccountDto.kt
  src/main/kotlin/club/hosppy/account/dto/ActivateAccountRequest.kt
  src/main/kotlin/club/hosppy/account/dto/UpdatePasswordRequest.kt
  src/main/kotlin/club/hosppy/account/model/AccountSecret.kt
  src/main/kotlin/club/hosppy/account/service/AccountService.kt
  src/main/kotlin/club/hosppy/common/api/ResultCode.kt
  src/main/kotlin/club/hosppy/email/EmailTmpl.kt
  src/main/kotlin/club/hosppy/email/config/MailConfig.kt
  src/main/kotlin/club/hosppy/email/controller/EmailController.kt
Due: backend_gradle_build, backend_docker_build

modify Account class constructor
  .gitignore
  src/main/kotlin/club/hosppy/account/controller/AccountController.kt
  src/main/kotlin/club/hosppy/account/model/Account.kt
  src/main/kotlin/club/hosppy/account/service/AccountService.kt
Due: backend_gradle_build, backend_docker_build

wrap fetch api, config vite env mode and fix account service
  app/.env.development
  app/.gitignore
  app/src/lib/utils/fetch.js
  app/src/routes/register/+page.svelte
  app/vite.config.js
  src/main/kotlin/club/hosppy/account/dto/AccountDto.kt
  src/main/kotlin/club/hosppy/account/service/AccountService.kt
  src/main/kotlin/club/hosppy/common/config/WebMvcConfig.kt
Due: backend_gradle_build, backend_docker_build, frontend_build

chore: code style config file[ci ckip]
  app/.editorconfig
  app/.nvmrc
Due: frontend_build

refactor EmailService [skip ci]
  src/main/kotlin/club/hosppy/email/service/EmailService.kt
Due: backend_gradle_build, backend_docker_build

refactor: format code [ci skip]
  src/main/kotlin/club/hosppy/common/api/ResultCode.kt
Due: backend_gradle_build, backend_docker_build

rename fetch.js
  app/src/lib/utils/request.js
  app/src/routes/activate/[slug]/+page.js
  app/src/routes/register/+page.svelte
Due: frontend_build

update activate account api
  app/src/lib/components/Toast.svelte
  app/src/lib/utils/request.js
  app/src/routes/activate/[slug]/+page.js
  app/src/routes/activate/[slug]/+page.svelte
  app/src/routes/login/+page.svelte
  app/src/routes/register/+page.js
  app/src/routes/register/+page.svelte
  src/main/kotlin/club/hosppy/account/controller/AccountController.kt
  src/main/kotlin/club/hosppy/account/dto/CreateAccountRequest.kt
  src/main/kotlin/club/hosppy/account/repo/AccountSecretRepository.kt
  src/main/kotlin/club/hosppy/account/service/AccountService.kt
  src/main/kotlin/club/hosppy/common/api/ResultCode.kt
Due: backend_gradle_build, backend_docker_build, frontend_build

new api for updating account
  app/src/routes/login/+page.svelte
  app/src/routes/register/+page.svelte
  src/main/kotlin/club/hosppy/account/controller/AccountController.kt
  src/main/kotlin/club/hosppy/account/dto/UpdateAccountRequest.kt
  src/main/kotlin/club/hosppy/account/service/AccountService.kt
  src/main/resources/templates/activate_account.ftl
Due: backend_gradle_build, backend_docker_build, frontend_build

rename ResultCode.status to ResultCode.type
  src/main/kotlin/club/hosppy/common/api/BaseResponse.kt
  src/main/kotlin/club/hosppy/common/api/ResultCode.kt
  src/main/kotlin/club/hosppy/common/error/GlobalExceptionHandler.kt
Due: backend_gradle_build, backend_docker_build

test github actions
  .github/workflows/github-actions-dev.yml
  .gitignore
Due: none

setup java step
  .github/workflows/github-actions-dev.yml
Due: none

add docker build
  .github/workflows/github-actions-dev.yml
Due: none

fix cannot have both the and keys
  .github/workflows/github-actions-dev.yml
Due: none

multi stage build docker image
  .github/workflows/github-actions-dev.yml
  Dockerfile
  README.md
Due: none

fix syntax
  .github/workflows/github-actions-dev.yml
Due: none

fix syntax
  Dockerfile
Due: none

change gradle version
  Dockerfile
  gradle/wrapper/gradle-wrapper.properties
Due: none

update action script
  .github/workflows/github-actions-dev.yml
  Dockerfile
  compose-dev.yaml
  docker-compose.yml
  settings.gradle
Due: none

change workdir to /app
  Dockerfile
Due: none

update workflows
  .github/workflows/build.yml
  Dockerfile
Due: none

update to gradle bootJar
  .github/workflows/build.yml
Due: none

docker build and push image action support
  .github/workflows/build.yml
Due: none

remove duplicate docker build step
  .github/workflows/build.yml
Due: none

update image tags
  .github/workflows/build.yml
Due: none

add ssh step
  .github/workflows/build.yml
Due: none

add ssh support
  .github/workflows/build.yml
  compose-dev.yaml
  publish/docker-compose.yml
Due: none

fix syntax error
  .github/workflows/build.yml
Due: none

remove unused PORT env
  .github/workflows/build.yml
Due: none

remove leading path elements and change sed delimiter
  .github/workflows/build.yml
  docker-compose.yml
Due: none

strip_components set 2
  .github/workflows/build.yml
Due: none

rename to docker-compose-template.yml
  .github/workflows/build.yml
  docker-compose.yml
  publish/docker-compose-template.yml
Due: none

set timezone to Asia/Shanghai
  Dockerfile
Due: none

update docker-compose file env_file property
  .github/workflows/action.yml
  publish/docker-compose-template.yml
Due: none

mapping docker port to 80
  publish/docker-compose-template.yml
Due: none

update port mapping
  publish/docker-compose-template.yml
Due: none

Dockerfile set time zone to Asia/Shanghai
  Dockerfile
Due: none
